################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PassboltSharp/obj
/PassboltSharp/bin/Debug
/.vs
/PassboltCli/bin/Debug/netcoreapp2.2
/PassboltCli/obj
/PassboltSharp.Tests/obj
