################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PassboltSharp/obj
/PassboltSharp/bin/Debug
/.vs
